*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: darkgray;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo-photo{
    width: 150px;
}
.menues{
    list-style: none;
    display: flex;
}
.menu-name{
    margin-left: 30px;
    font-size: 18px;
    cursor: pointer;
}
.menu-name:hover{
    color: white;
}

.banner-char{
    width: 400px;
}
.banner-container{
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url('Images/blackback1.webp'),
    linear-gradient(45deg, rgb(16, 15, 15), rgb(42, 38, 38));
    background-size: cover;
    background-repeat: no-repeat;
}
.bann-head{
    font-size: 40px;
    width: 450px;
    margin-bottom: 10px;
}
.bann-para{
    width: 500px;
    font-size: 18px;
}
.bann-button{
    margin-top: 20px;
    padding: 10px;
    background-color: red;
    border: none;
}

.about-container{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-head{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
.about-img{
    width: 200px;
    border: 10px solid white;
}
.ab-t-head{
    width: 400px;
    margin-bottom: 10px;
}
.ab-t-para{
    font-size: 18px;
    width: 500px;
    margin-bottom: 20px;
}
.about-button{
    padding: 10px;
    background-color: red;
    border: none;
}